@import "../../less/variables.less";
@import "../../less/mixins.less";

html, body, #wrapper, #page, .page{
    height:100%;
}
.logged-out .logged-in
{
    display:none;
}
.logged-in .logged-out
{
    display:none;
}