<table class="table table-condensed table-striped"> 
    <%for(var i=0;i<this.length;i++){%>
                   <tr class="deposit-method">
                       <td>
                           <%=this[i].name%>
                       </td>
                       <td>
                           <%=this[i].description%>
                       </td>
                   </tr>
	<%}%>
</table>