@media all and (max-width: 640px){
    a#logo{
        width:14%;
    }

    .page{
        height:100%;
    }

    div#sidebar{
        width:-webkit-calc(10%+2px);
        width:calc(10%+2px);
    }

    nav#sidebar-menu{
        box-shadow:5px 0px 25px 5px #000;
        height:100%;
        padding: 0 !important;
        border-left:2px solid #360556;
        border-right:2px solid #360556;
        z-index:2;
    }

    nav#sidebar-menu:after, nav#sidebar-menu:before {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    nav#sidebar-menu:after {
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #b14e8f;
        border-width: 7.5px;
        top: 7%;
        margin-top: -7.5px;
    }
    nav#sidebar-menu:before {
        border-color: rgba(194, 225, 245, 0);
        border-left-color: #360556;
        border-width: 9px;
        top: 7%;
        margin-top: -9px;
    }

    nav#sidebar-menu > a{
        font-size:0.25em;        
    }

    nav#sidebar-menu > a#menu-item-all-games{
        display:none;
    }

    nav#sidebar-hidemenu{
        border-left:2px solid #360556;
        z-index:1;
    }

    nav#footer{
        display:none;
    }

    .games-container{
        -webkit-transform:matrix(1, 0, 0, 1, 0, 0);
        -moz-transform:matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        margin-left:0 !important;
    }

    .games{
        -webkit-transform:matrix(1, 0, 0, 1, 0, 0);
        -moz-transform:matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        margin-left:0 !important;
    }
}
